{% extends "base.html" %} {% load static %} {% block body %} {% load multiply %}
<main>
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <form action="" method="post">
                {% csrf_token %} {% for product in products %}
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="{{ product.watch.img1.url }}" alt="" />
                      </div>
                      <div class="media-body">
                        <p>{{ product.watch.title }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>&#8377;{{ product.watch.price }}</h5>
                    <input type="hidden" name="id" value="{{ product.id }}" />
                  </td>
                  <td>
                    <div class="product_count">
                      <input
                        name="_qty"
                        type="number"
                        value="{{ product.qty }}"
                        min="0"
                        max="10"
                      />
                    </div>
                  </td>
                  <td>
                    <h5>
                      &#8377; {% multiply product.watch.price product.qty %}
                    </h5>
                  </td>
                </tr>
                {% endfor %}
                <tr class="bottom_button">
                  <td>
                    <button type="submit" class="btn_1">Update Cart</button>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="cupon_text float-right"></div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>total</h5>
                  </td>
                  <td>
                    <h5>&#8377; {{ total }}</h5>
                  </td>
                </tr>
              </form>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="{% url 'shop' %}">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="{% url 'payment' %}"
              >Proceed to checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
> {% endblock %}
